<div class="container-fluid">
        <div class="container-fluid egg">  
        <svg class="oval"></svg>
        <svg class="oval2"></svg>
        </div>

        <div class="container-fluid button-g">
            <button type="button" id="get">Get startet</button>
            <button type="button" id="learn">Learn more</button>
        </div>

        <img class="full-size" src="assets/img/people.jpg" alt="people-payment">
            
        <div class="payment-card card container-fluid"> 
            <div class="card-body">
              <h3 class="card-title bussines">Bussines account</h3>
              <img class="card-img-top payment-img" src="assets/img/people.jpg" alt="people-payment">
            <button class="btn" id="payment" type="button"><img class="credit" src="assets/img/tarjeta-de-credito.jpg" alt="Build Icon"> Payment Received</button>
        </div>
        </div>
        
        <div class="finance card container-fluid">
                <img class="card-img testimonial-img" src="assets/img/cara-feliz.jpg" alt="Icon Start">
            
            <div class="card-body">
            <h4 class="card-title" style="margin-bottom:0;">"The best finance bank"</h4>
            <p class="card-body" style="margin-top:0;">Jhon Carter - Finance manajer</p>
        </div>
        </div>
</div>


